/*
Color Palette:
background color: #334257
font color: #EEEEEE
secondary color: #548CA8   
tertiary color: #476072 
*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


html {
    font-size: 62.5%;
}

header {
    margin: 0 4rem;
    letter-spacing: 0.8rem;
    text-align: center;
    border-bottom: 1px solid #476072;
    border-right: 1px solid #476072;
    border-left: 1px solid #476072;
    padding: 0.5rem;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 1.1rem;
}

body {
    background-color: #334257 ;
    color: #EEEEEE;
    font-family: 'Open sans', sans-serif;
    margin: 0;
    
}

cite {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

img{
    height:300px;
    width:300px;
}

.imagec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem 4rem;
}

.imagec img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagec a {
    text-decoration: none;
    color: #826F66; 
}

.cardt {
    color: #548CA8;
    text-align: center;
    padding: 2rem;
    border-radius: 30px;
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
    header {
        font-size: 1.6rem;
    }
    
    .gallery {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .imageCard {
        max-width: 28%;
    }
}